@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --primanry: #fe5d37;
  --light: #fff5f3;
  --dark: #103741;
}

body {
  font-family: 'heebo', sans-serif;
  font-size: 16px;
  color: #6b6f79;
  background: #ffffff;
  line-height: 23px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 
#wrapper {
  ;
} */

nav {
  display: flex;
  height: 35px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 26px 0;
}

#nav-logo {
  font-family: 'Lobster Two', cursives;
  font-size: 40px;
  color: var(--primanry);
  line-height: 35px;
  margin-right: 114px;
}

#nav-menu ul {
  display: flex;
  /* gap: 20px; */
  text-transform: capitalize;
}

#nav-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-menu ul li a {
  padding: 30px 15px;
  font-weight: 500;
  font-size: 16px;
}

#nav-menu ul li a span {
  display: inline-flex;
  transform: rotate(90deg);
  font-size: 17px;
  font-weight: 700;
}

#nav-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--primanry);
  padding: 8px 20px;
  color: white;
  border-radius: 30px;
  margin-left: 73px;
}
