@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primanry: #fe5d37;
  --light: #fff5f3;
  --dark: #103741;
  --family: 'Lobster Two', cursives;
}

body {
  font-family: 'heebo', sans-serif;
  font-size: 16px;
  color: #6b6f79;
  background: #ffffff;
  line-height: 23px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  padding: 70px 0;
}

#main-hero {
  padding: 0;
}

.wrapper {
  width: 87%;
  margin: auto;
}

/* header > */

.active-page {
  color: var(--primanry);
}

nav {
  display: flex;
  height: 35px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 39px 0;
}

#nav-logo {
  font-family: 'Lobster Two', cursives;
  font-size: 40px;
  color: var(--primanry);
  line-height: 35px;
  margin-right: 114px;
}

#nav-menu ul {
  display: flex;
  text-transform: capitalize;
}

#nav-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-menu ul li {
  display: flex;
  padding: 30px 15px;
  font-weight: 500;
  font-size: 16px;
  color: var(--dark);
  gap: 14px;
  cursor: pointer;
}

#nav-menu ul li a {
  transition: 0.3s;
}

#nav-menu ul li a:hover {
  color: var(--primanry) !important;
}

#nav-menu ul li a i {
  display: inline-flex;
  transform: rotate(-90deg);
  font-size: 12px;
}

#pages {
  transition: 0.3s;
}

#sub-menu {
  display: none;
  position: absolute;
  background: white;
  height: fit-content;
  width: 177px;
  float: right;
  z-index: 99;
  top: 51px;
  left: 685px;
  padding: 10px 0;
  border-radius: 10px;
  opacity: 0;
  transition: 1.7s;
}

#sub-menu div {
  /* display: inline; */
  float: left;
  padding: 5px 20px;
  width: 100%;
}

#sub-menu div a {
  font-weight: 400;
}

#sub-menu div:hover {
  background: hsl(0, 0%, 90%);
  color: white;
}

#pages:hover #sub-menu {
  display: inline;
  top: 68px;
  opacity: 1;
}

#nav-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--primanry);
  padding: 8px 20px;
  color: white;
  border-radius: 30px;
  margin-left: 73px;
  transition: 0.3s;
}

#main-hero {
  position: relative;
  overflow: hidden;
}

#main-hero img {
  background-size: cover;
  width: 100%;
}

#hero-cover {
  position: absolute;
  background: #0000003b;
  width: 100%;
  height: 710px;
  top: 0;
}

#hero-repeat {
  position: absolute;
  background: url(/img/bg-header-top.png);
  height: 10px;
  width: 100%;
  top: 0;
  z-index: 22;
}

#hero-repeat-two {
  position: absolute;
  background: url(/img/bg-header-bottom.png);
  height: 19px;
  width: 100%;
  bottom: 7px;
  z-index: 22;
}

#main-hero #hero-text {
  position: absolute;
  top: 25%;
  display: flex;
  color: white;
  line-height: 34px;
  width: 100%;
}

#hero-text h1 {
  font-size: 70px;
  font-family: var(--family);
  width: 700px;
  line-height: 89px;
}

#main-text h1 {
  margin-bottom: 20px;
}

#main-text p {
  font-size: 20px;
  width: 730px;
  margin-bottom: 20px;
}

#main-text div {
  display: inline-flex;
  gap: 25px;
}

#main-text div a {
  color: white;
  padding: 11px 49px;
  border-radius: 50px;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.3s;
}

#main-text div a:first-child {
  background: var(--primanry);
}

#main-text div a:last-child {
  background: var(--dark);
}

#main-text div a:first-child:hover,
#nav-btn a:hover {
  background: #f76f50;
}
#main-text div a:last-child:hover {
  background: #0d2d35;
}

#main-button div:first-child {
  margin-bottom: 20px;
}

#main-button div i {
  display: flex;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#main-button div i:hover {
  background: var(--primanry);
  border: none;
}

#hero-separate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* < header  */

/* school > */
#school-section {
  text-align: center;
  display: flex;
  justify-content: center;
}

#school-section #school-text {
  width: 597px;
  margin: auto;
  line-height: 24px;
  gap: 20px;
  display: grid;
  margin-bottom: 39px;
}

#school-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.school-box {
  position: relative;
  display: grid;
  width: fit-content;
  place-items: center;
  transition: 0.3s;
}

#school-section #school-text h1 {
  font-family: var(--family);
  color: var(--dark);
  font-size: 40px;
  transition: 0.3s;
}

.school-circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: #fe5d37;
  color: white;
}

.school-circle1 i {
  font-size: 43px;
  transition: 0.3s;
}

.bg-school {
  position: absolute;
  height: 38px;
  background: var(--primanry);
  width: 19px;
  border-radius: 100%;
  top: -4px;
  left: 76px;
  z-index: -12;
}

.bg-school::after {
  content: '';
  position: absolute;
  height: 38px;
  width: 19px;
  background: var(--primanry);
  border-radius: 100%;
  top: -1px;
  left: 78px;
  z-index: -12;
}

.school-circle2 {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding: 30px;
  background: #fe5d37;
  color: white;
  overflow: hidden;
}

.circle-text h3 {
  font-size: 27px;
  font-family: var(--family);
  margin-bottom: 20px;
}

.circle-text p {
  width: 200px;
}

.school-box:nth-child(2) .school-circle1,
.school-box:nth-child(2) .school-circle2 {
  background: #e8f3ee;
}

.school-box:nth-child(2) i,
.school-box:nth-child(2) h3,
.school-box:nth-child(2) p {
  color: #2c8754;
}

.school-box:nth-child(2) .bg-school::after,
.school-box:nth-child(2) .bg-school {
  background: #e8f3ee;
}

.school-box:nth-child(2):hover .school-circle1 i,
.school-box:nth-child(2):hover .circle-text h3,
.school-box:nth-child(2):hover .circle-text p {
  color: white;
}

/* school < */
